<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 오디오 권한 (비디오 녹화용) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 카메라 하드웨어 필요 -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CameraX Compose 학습"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Composestudy">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Composestudy">
            
        </activity>
    </application>

</manifest>
