<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="Compose Testing"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeStudy">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeStudy">
            
        </activity>
    </application>

</manifest>
